<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LiNQDemo2.Properties.Settings.MyTQdbConnectionString"
            connectionString="Data Source=LAPTOP-FS8H47HQ\DBSERVER;Initial Catalog=MyTQdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>